{% extends 'basic.html' %}
{% block title %}Shivansh Mehta{% endblock title %}
{% block hero %}
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Shivansh Mehta</h1>
    <p>I'm  <span class="typed" data-typed-items="a Designer, a Developer, a Teacher, an AI-Enthusiast"></span></p>
    <div class="social-links">
      <a href="https://github.com/ShivanshMehtaa" class="github" ><i class="bx bxl-github"></i></a>
      <a href="https://www.instagram.com/_shivansh.mehta_/" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.linkedin.com/in/shivanshmehtaa/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</section>
{% endblock hero %}