{% extends 'basic.html' %}
{% load static %}
{% block title %}Projects{% endblock title %}
{% block body %}
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Projects</h2>
        <p></p>
      </div>

      

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/bank.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Bank Management System</h4>
              <p>using C</p>
              <div class="portfolio-links">
                <a href="https://github.com/ShivanshMehtaa/BankManagementWithC" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/ticket.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Movie Ticket Management</h4>
              <p>using C++</p>
              <div class="portfolio-links">
                <a href="https://github.com/ShivanshMehtaa/TicketManagement" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/library.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Library Management</h4>
              <p>using Python</p>
              <div class="portfolio-links">
                <a href="https://github.com/ShivanshMehtaa/LibraryManagementwithPython" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/medicine.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Medicine Shop Website</h4>
              <p>using Flask</p>
              <div class="portfolio-links">
                <a href="https://github.com/ShivanshMehtaa/MedicineShop" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/tictactoe.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Tic Tac Toe</h4>
              <p>using JavaScript</p>
              <div class="portfolio-links">
                <a href="https://shivansh-tictactoe.000webhostapp.com/" ><i class="bx bx-link"></i></a>
                <a href="https://github.com/ShivanshMehtaa/TicTacToe" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/todo.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>ToDo Page</h4>
              <p>using Flask</p>
              <div class="portfolio-links">
                <a href="https://github.com/ShivanshMehtaa/ToDo" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/SMS.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Student Management System</h4>
              <p>using Django</p>
              <div class="portfolio-links">
                <a href="https://github.com/ShivanshMehtaa/StudentManagementSystem" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/REP.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Real Estate Purchasing</h4>
              <p>using Django</p>
              <div class="portfolio-links">
                <a href="https://github.com/ShivanshMehtaa/RealEstate" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/PORT.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Real Estate Purchasing</h4>
              <p>using Flask</p>
              <div class="portfolio-links">
                <a href="https://portfolioshivanshmehtaa.herokuapp.com/" ><i class="bx bx-link"></i></a>
                <a href="https://github.com/ShivanshMehtaa/MyPortfolio" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/blog.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Blog Website</h4>
              <p>using Django</p>
              <div class="portfolio-links">
                <a href="https://github.com/ShivanshMehtaa/DjangoBlog" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/chat.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Chat Application</h4>
              <p>using Django</p>
              <div class="portfolio-links">
                <a href="https://github.com/ShivanshMehtaa/Chat-App-using-Django" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/calculator.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Calculator</h4>
              <p>using JavaScript</p>
              <div class="portfolio-links">
                <a href="https://shivanshmehtaa.github.io/Calculator/" ><i class="bx bx-link"></i></a>
                <a href="https://github.com/ShivanshMehtaa/Calculator" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/medobtain.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>MedObtain</h4>
              <p>Hackathon Project</p>
              <div class="portfolio-links">
                <a href="http://medobtain.epizy.com/" ><i class="bx bx-link"></i></a>
                <a href="https://github.com/wh0shivansh/medObtain-Hackathon" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/portfolio/kissania.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Kissania</h4>
              <p>Hackathon Project</p>
              <div class="portfolio-links">
                <a href="https://vedant-jain03.github.io/Kisannia/#/" ><i class="bx bx-link"></i></a>
                <a href="https://github.com/vedant-jain03/Kisannia" ><i class="bx bxl-github"></i></a>
              </div>
            </div>
          </div>
        </div>

        

      </div>

    </div>
  </section>
{% endblock body %}