{% extends 'basic.html' %}
{% load static %}
{% block title %}Resume{% endblock title %}
{% block body %}
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Web Developer | 2⭐ CodeChef | Intermediate Python Developer | Intermediate in C, C++, Java | Django Developer .</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Shivansh Mehta</h4>
            <p><em>Aspiring web developer with knowledge of various development technologies. I typically use HTML/CSS/JavaScript and BootStrap in the client, Flask, Django, and its REST frameworks on the server, and use HTTP for communication between the client and server.</em></p>
            <ul>
              <li>89, A.P.R. Colony, Katanga, Near T.V. Tower, Jabalpur</li>
              <li>+91 8815152527</li>
              <li>shivanshmehta0000@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Technology</h4>
            <h5>2021- Present</h5>
            <p><em>Gyan Ganga Institute of Technology and Sciences, Jabalpur, M.P. </em></p>
            <p>First Year G.P.A - 9.21</p>
            
          </div>
          <div class="resume-item">
            <h4>Higher Secondary Education(C.B.S.E.)</h4>
            <h5>2019 - 2021</h5>
            <p><em>Little World School, Jabalpur, M.P.</em></p>
            <p>Final Year Percentage - 87%</p>
          </div>
          <div class="resume-item">
            <h4>Senior Secondary Education(C.B.S.E.)</h4>
            <h5>2017 - 2019</h5>
            <p><em>Little World School, Jabalpur, M.P.</em></p>
            <p>Final Year Percentage - 86.75%</p>
          </div>

          <h3 class="resume-title">Hobbies</h3>
          <div class="resume-item">
            <h4>Beat Boxing</h4>
            <h4>Playing Football</h4>
            <h4>Fitness</h4>
            <h4>Cycling</h4>
          </div>
           

          <h3 class="resume-title">Co-Curricular Activities</h3>
          <div class="resume-item">
            <h4>Class Representative</h4>
            <h5>2021- Present</h5>
            <p><em>Gyan Ganga Institute of Technology and Sciences, Jabalpur, M.P. </em></p>
            
          </div>
          <div class="resume-item">
            <h4>Silver Medal </h4>
            <h5>Inter School Kabaddi Competition</h5>
            <p><em>Little World School, Jabalpur, M.P.</em></p>
          </div>
        </div>

        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Core Team Member, Coders Hub</h4>
            <h5>2022 - Present</h5>
            <p><em>Jabalpur , M.P. </em></p>
            <ul>
              <li>Teacher and Core Team Member in Coders Hub Youtube Channel</li>
              <li>As a teacher my responsibility is to lecture on the basic concepts of programming language like C, C++, Python</li>
              <li>Also I teach Full Stack Development with the help of Django </li>
              
            </ul>
          </div>
          <h3 class="resume-title">Skills</h3>
          <div class="resume-item">
            <h4>Programming Languages -</h4>
            <h5>C, C++, Python, Java, SQL</h5>
          </div>
          <div class="resume-item">
            <h4>Version Control Tools -</h4>
            <h5>Git, Github</h5>
          </div>
          <div class="resume-item">
            <h4>Machine Learning -</h4>
            <h5>Open Cv, Tensorflow, Pandas, Matplotlib</h5>
          </div>
          <div class="resume-item">
            <h4>Frameworks -</h4>
            <h5>Django, BootStrap, Tailwind CSS </h5>
          </div>
          <div class="resume-item">
            <h4>Front-End Development -</h4>
            <h5>HTML, CSS, JavaScript, Bootstrap</h5>
          </div>
          <div class="resume-item">
            <h4>Back-End Development -</h4>
            <h5>Node-JS, Express-JS, Flask</h5>
          </div>
          <div class="resume-item">
            <h4>UI Designing -</h4>
            <h5>Figma, Protopie, Canva</h5>
          </div>
          <div class="resume-item">
            <h4>Soft Skills -</h4>
            <h5>Leadership, Communication Skills, Dedicated, Goal Oriented, Organised</h5>
          </div>
          <h3 class="resume-title">Strengths</h3>
          <div class="resume-item">
            <h4>Time Management</h4>
            <h4>Goal Oriented</h4>
            <h4>Long Tempered</h4>
            <h4>Fast Learner</h4>
          </div>
          <h3 class="resume-title">Weaknesses</h3>
          <div class="resume-item">
            <h4>Disorganised</h4>
            <h4>Perfectionist</h4>
            
          </div>
        </div>
      </div>

    </div>
  </section><
{% endblock body %}