{% extends 'basic.html' %}
{% block title %}Sign-Up{% endblock title %}
{% block body %}
    <div class="container mt-4 p-2">

        <div class="row">  
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <h3 class=" text-center text-white bg-dark p-3">Sign-Up Here</h3>
                    
                <div class="card p-3">
                    <form action="/auth/signup/" method = "post">
                        {% csrf_token %}
                        <div class="form-group">
                            <h5><span><i class="bx bx-envelope"></i>Email</span></h5>
                            <input type="email" name = "name" class="form-control mb-3" required >
                        </div>
                        
                            <br>
                            
                        <div class="form-group">
                            <h5><span><i class="bx bx-lock"></i>Password</span></h5>
                            <input type="Password" name="pass1" class="form-control mb-3" required>
                        </div>

                            <br>

                        <div class="form-group">
                            <h5><span><i class="bx bx-key"></i>Confirm Password</span></h5>
                            <input type="Password" class="form-control mb-3" name = "pass2" required>
                        </div>

                            
                        <div class="d-grid gap-2">
                            <button class="btn btn-dark mb-2" type="submit">Sign-Up</button>
                        </div>
                        
                        Already A User ? <a href="/auth/login">Login</a>
                    </form>

                    
                </div>
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
    <br>
    <br>
    <br>


    <footer id="footer">
        <div class="container">
          <h3>Shivansh Mehta</h3>
          <div class="social-links">
            <a href="https://github.com/ShivanshMehtaa" class="github" ><i class="bx bxl-github"></i></a>
            <a href="https://www.instagram.com/_shivansh.mehta_/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/shivansh-mehta-399427226/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
          
          
        </div>
      </footer>

{% endblock body %}